{% extends "base.html" %}
{% block content %}

<h1 class="text-center mb-4">ATS Resume Checker</h1>

<form action="{{ url_for('ats_page') }}" method="POST" enctype="multipart/form-data" class="w-75 mx-auto">

    <label class="form-label"><strong>Select Your Resume(s) (PDF/DOCX)</strong></label><br>
    <!-- MULTIPLE FILE UPLOAD ENABLED -->
    <input type="file" name="resume" accept=".pdf,.doc,.docx" multiple required class="form-control"><br>

    <label class="form-label mt-3"><strong>Paste Job Description</strong></label>
    <textarea name="jd" class="form-control" required rows="7"></textarea><br>

    <button class="btn btn-primary mt-3">Check Score</button>

</form>

{% endblock %}
